---
---

@import "{{ site.theme }}";

.hidden {
    display:none!important;
}

.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
  }
  
.btn {
    border: 2px solid gray;
    color: gray;
    background-color: white;
    padding: 8px 20px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: bold;
}

.btn:hover {
    cursor:pointer;
}

.upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}

.tick, .x-icon {
    width: 5%;
    background: transparent;
    border: none;
    width: 3%;
    margin: 0;
    vertical-align: -10px;
    min-width: 20px;
}

#footer_wrap {
    background-color: white;
    color: #373737;
}

#footer_wrap img{
    border: none;
    padding: 0;
    max-width: 100%
}

#footer_wrap img, #footer_wrap img {
    border: none;
    padding: 0;
    max-width: 100%;
    -webkit-box-shadow: none;
}


header .inner img{
    padding: 0;
    border: 0;
}

#header_wrap {
    background-color: #f2f2f2;
}