---
---

@import "{{ site.theme }}";

.hidden {
    display:none!important;
}

.upload_button {
    display: block;
    float: right;
    width: 90px;
    height:70px;
    text-indent: -5000px;
    overflow: hidden;
    background: url(../images/sprite_download.png) no-repeat bottom right;
    margin-left: 10px;
  }

  .upload_button:hover {
    background: url(../images/sprite_download.png) no-repeat top right;
  }