<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,maximum-scale=2">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <script src="{{ '/assets/js/pdf.js?v=' | append: site.github.build_revision | relative_url }}"></script>
    <script src="{{ '/assets/js/ssdeep.js?v=' | append: site.github.build_revision | relative_url}}"></script>
    <script src="{{ '/assets/js/tlsh.js?v=' | append: site.github.build_revision | relative_url}}"></script>
    <script src="{{ '/assets/js/sjcl.js?v=' | append: site.github.build_revision | relative_url }}"></script>

    <script type="text/javascript">
      function funfun() {
        // Check for the various File API support.
        if (window.File && window.FileReader && window.FileList && window.Blob) {
          // Great success! All the File APIs are supported.
        } else {
            alert('The File APIs are not fully supported in this browser');
        }
      
        document.getElementById('files').addEventListener('change', handleFileSelect, false);
        document.getElementById("text2").value = decodeURI(t2);
      }
      
      var t1;
      var t2 = encodeURI("Having trouble reading? View online version. Our mailing address is:  Fonte das Abelleiras, s/n. Edificio CITEXVI, local 14  36310 Vigo, Pontevedra, España To ensure that our messages arrive, please add comunicacion@gradiant.org to your address book. Want to change how you receive these emails?  You can update your preferences or unsubscribe from this list. Copyright © 2018 Gradiant, All rights reserved. Organizan: Save de date! 19 de junio de 2019 | 10:00 – 14:00 hrs Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor  incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis  nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod. Tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam. Lorem ipsum dolor sit amet, consectetur adipiscing eli. ".replace(/\s\s+/g, ' '));
      function handleFileSelect(evt) {
        var files = evt.target.files; // FileList object
        var lectores = new Array();
      
        // files is a FileList of File objects. List some properties.
        var output = [];
        for (var i = 0, f; f = files[i]; i++) {
           output.push('<li><strong>', escape(f.name), '</strong> (', f.type || 'n/a', ') - ',
              f.size, ' bytes, last modified: ',
              f.lastModifiedDate.toLocaleDateString(), '</li>');
      
             lectores[i] = new FileReader();
      
            lectores[i].onload = function(e) {
               //t1 = this.result;
      
               /**
             * Extract the text from the PDF
             */
            var PDF_URL  = this.result;
            pdfjsLib.getDocument(PDF_URL).then(function(PDFDocumentInstance) {
                //var totalPages = PDFDocumentInstance.pdfInfo.numPages;
                var pageNumber = 1;
                // Extract the text
                getPageText(pageNumber, PDFDocumentInstance).then(function(textPage){
                    // Show the text of the page in the console
                    //console.log(textPage);
                    //document.getElementById('content').innerHTML = textPage;
                    t1 = encodeURI(textPage.replace(/\s\s+/g, ' '));
                    document.getElementById("text1").value = decodeURI(t1);
                    fun_hash();
                });
            }, function (reason) {
                // PDF loading error
                console.error(reason);
            });
      
            }
      
            lectores[i].readAsDataURL(f);
        }
        document.getElementById('list').innerHTML = '<ul>' + output.join('') + '</ul>';
      }
      
      /**
       * Retrieves the text of a specif page within a PDF Document obtained through pdf.js 
       * 
       * @param {Integer} pageNum Specifies the number of the page 
       * @param {PDFDocument} PDFDocumentInstance The PDF document obtained 
       **/
      function getPageText(pageNum, PDFDocumentInstance) {
          // Return a Promise that is solved once the text of the page is retrieven
          return new Promise(function (resolve, reject) {
              PDFDocumentInstance.getPage(pageNum).then(function (pdfPage) {
                  // The main trick to obtain the text of the PDF page, use the getTextContent method
                  pdfPage.getTextContent().then(function (textContent) {
                      var textItems = textContent.items;
                      var finalString = "";
                      // Concatenate the string of the item to the final string
                      for (var i = 0; i < textItems.length; i++) {
                          var item = textItems[i];
                          finalString += item.str + " ";
                      }
                      // Solve promise with the text retrieven from the page
                      resolve(finalString);
                  });
              });
          });
      }
      
      function fun_hash() {
        var bitArray1 = sjcl.hash.sha256.hash(t1);
        var digest_sha256_1 = sjcl.codec.hex.fromBits(bitArray1);
        document.getElementById("sha256_hash1").value = digest_sha256_1;
        var bitArray2 = sjcl.hash.sha256.hash(t2);
        var digest_sha256_2 = sjcl.codec.hex.fromBits(bitArray2);
        document.getElementById("sha256_hash2").value = digest_sha256_2;

        tick_img_src = "{{ '/assets/images/tick.png' | relative_url }}";
        xicon_img_src = "{{ '/assets/images/x-icon.png' | relative_url }}";

        var tick_img_tag = "<img class=\"tick\" src=\"" + tick_img_src + "\">";
        var xicon_img_tag = "<img class=\"x-icon\" src=\"" + xicon_img_src + "\">";

        if(digest_sha256_1 == digest_sha256_2) {
          document.getElementById("sha256_match").innerHTML = "<span>SHA-256 match: </span>" + tick_img_tag;
        } else {
          document.getElementById("sha256_match").innerHTML = "<span>SHA-256 match: </span>" + xicon_img_tag;
        }
      
        var ssdeep1 = ssdeep.digest(t1);
        var ssdeep2 = ssdeep.digest(t2);
        document.getElementById("ssdeep_hash1").value = ssdeep1;
        document.getElementById("ssdeep_hash2").value = ssdeep2;
        var similarity = ssdeep.similarity(ssdeep1, ssdeep2);
        
        console.log(ssdeep1)
        console.log(ssdeep2)
        
        console.log(similarity)

        var simRounded = (Math.round(similarity*10)/10)
        if( simRounded > 80) {
          document.getElementById("ssdeep_similarity").innerHTML = "<span>SSDEEP: </span>" + simRounded + tick_img_tag;
        } else {
          document.getElementById("ssdeep_similarity").innerHTML = "<span>SSDEEP: </span>" + simRounded + xicon_img_tag;
        }
      
        console.log("T1: " + t1)
        console.log("T2: " + t1)
        var tlsh1 = new Tlsh();
        var tlsh2 = new Tlsh();
        tlsh1.update(t1, t1.length+1);
        tlsh1.finale();
        document.getElementById("tlsh_hash1").value = tlsh1.hash();
        tlsh2.update(t2, t2.length+1);
        tlsh2.finale();
        document.getElementById("tlsh_hash2").value = tlsh2.hash();
        var tlsh_diff = tlsh1.totalDiff(tlsh2, !document.getElementById("tlsh_iglen").checked)
        document.getElementById("tlsh_diffh").innerHTML = "TLSH diff = " + tlsh_diff;
        var tlsh_simil = Math.round(100.0*Math.exp(-Math.pow(tlsh_diff/40.0, 2))*10.0)/10.0 + "%";
        document.getElementById("tlsh_simil").innerHTML = "TLSH similarity = " + tlsh_simil;

        if((Math.round(100.0*Math.exp(-Math.pow(tlsh_diff/40.0, 2))*10.0)/10.0) > 80) {
          document.getElementById("tlsh_simil").innerHTML = "<span>TLSH: </span>" + tick_img_tag;
        } else {
          document.getElementById("tlsh_simil").innerHTML = "<span>TLSH: </span>" + xicon_img_tag;
        }

      }
      
      </script>      
  </head>

  <body onload="funfun()">

    <!-- HEADER -->
    <div id="header_wrap" class="outer">
        <header class="inner">
          <img title="TEGRA" src="{{ '/assets/images/tegralogo.png' | relative_url }}">
       </header>
    </div>

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">
        {{ content }}

        <div class="upload-btn-wrapper">
          <button class="btn">Upload a PDF file</button>
          <input type="file" id="files" name="files[]" />
        </div>

        <output id="list"></output>
        
        <table class="hidden">
          <tr>
          <td>
          <b>User PDF</b>
          </td><td>
          <b>Reference PDF</b>
          </td>
          </tr>
          <tr>
          <td>
          <textarea id="text1" class="hidden" rows="16" cols="90" readonly></textarea>
          </td><td>
          <textarea id="text2" class="hidden"rows="16" cols="90" readonly></textarea>
          </td>
          </tr>
          <tr>
          <td colspan="2">
          <center><b>SHA-256 hashes</b></center>
          </td>
          </tr>
          <tr>
          <td>
          <input id="sha256_hash1" size="91">
          </td><td>
          <input id="sha256_hash2" size="91">
          </td>
          </tr>
          <tr>
          <td colspan="2">
          <center><b>ssdeep hashes</b></center>
          </td>
          </tr>
          <tr>
          <td>
          <input id="ssdeep_hash1" size="91">
          </td><td>
          <input id="ssdeep_hash2" size="91">
          </td>
          </tr>
          <tr>
          <td colspan="2">
          <center><b>TLSH hashes</b></center>
          </td>
          </tr>
          <tr>
          <td>
          <input id="tlsh_hash1" size="91">
          </td><td>
          <input id="tlsh_hash2" size="91">
          </td>
          </tr>
          </table>
          <br>
          <span class="hidden">TLSH ignore len <input type="checkbox" id="tlsh_iglen"></span>
          <br><hr><br>
          <b>
          <span id="sha256_match"></span>
          <br><br>
          <span id="ssdeep_similarity"></span>
          <br><br>
          <span id="tlsh_diffh"></span>
          <br>
          <span id="tlsh_simil"></span>
          </b>
          <br><br>
          <div class="upload-btn-wrapper">
            <button class="btn" onclick="fun_hash()">RECALCULATE</button>      
          </div>
        </section>
    </div>

    <!-- FOOTER  -->
    <div id="footer_wrap" class="outer">
      <footer class="inner">
        <p><em>TEGRA cybersecurity center se enmarca en la unidad mixta de investigación en ciberseguridad IRMAS (Information Rights Management Advanced Systems), que está cofinanciada por la Unión Europea, en el marco del Programa Operativo FEDER Galicia 2014-2020, para promover el desarrollo tecnológico, la innovación y una investigación de calidad.</em></p>
        <img src="{{ '/assets/images/footerlogos.png' | relative_url }}"/>
        {% if site.github.is_project_page %}
        <p class="copyright">Copyright 2019</p>
        {% endif %}</p>
      </footer>
    </div>

    {% if site.google_analytics %}
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
      </script>
    {% endif %}
  </body>
</html>
